
#edit {
  font-size: medium;

}

#userTable {
  margin: auto;
}

#navi{
  min-width: 1200px;
}


.customerDetails{
  background-color: rgb(28, 119, 122);
  border-style: solid;
  width: 85%;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 30px;
  padding-left: 10%;
  padding-right: 10%;
}

.neg {
  color: red;
  background: lightgrey;
  font-size: 36px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10%;
  width: 70%;
  margin-left: 15%;
}

.pos {
  color: green;
  background: lightgrey;
  font-size: 36px;
  font-weight: bold;
  border-style: solid;
  border-width: 3px;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  margin-top: 10%;
  width: 70%;
  margin-left: 15%;
}


.posts {
  border: 3px solid rgb(91, 12, 88);
  border-radius: 20px;   /*pyöristys */
  padding: 15px; 
  margin-bottom: 10px;
}

#root {
  max-width: auto;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.nappi {
  border-radius: 10px;
  margin-left: 10px;
  font-size: 26px;
  background-color: cadetblue;
  color: white;
}

.nappi1 {
  border-radius: 10px; 
  margin-right: 10px;
  font-size: 18px;
  background-color: cadetblue;
  color: white;
}

